{
    "platform": "org.apache.kafka.trogdor.basic.BasicPlatform", "nodes": {
        {%- for node in nodes %}
        
        "{{ node }}": {
            "hostname": "{{ node }}",
            {%- if node == coordinator_node %}
            
            "trogdor.coordinator.port": 8889,
            {%- endif %}
            
            "trogdor.agent.port": 8888
        }{%- if not loop.last %},{% endif %}
        {%- endfor %}
        
    }
}